development:
  aws:
    access_key_id: some_aws_iam_access_key_id
    secret_access_key: some_aws_iam_secret_access_key
    region: eu-west-1
  daemon:
    app_name: pantry_jenkins_slave_delete_command_handler
    backtrace: true
    dir_mode: normal
    dir: /tmp
    monitor: false
  pantry:
    api_key: 
    request_timeout: 10
    url: 
  sqs:
    queue_name: pantry_test-jenkins_slave_delete_command_handler
  sns:
    topic_arn: arn:aws:sns:eu-west-1:...-jenkins_slave_delete_event
    error_arn: arn:aws:sns:eu-west-1:001100110011:pantry_error_logs
test:
  aws:
    access_key_id: some_aws_iam_access_key_id
    secret_access_key: some_aws_iam_secret_access_key
    region: eu-west-1
  daemon:
    app_name: pantry_jenkins_slave_delete_command_handler
    backtrace: true
    dir_mode: normal
    dir: /tmp
    monitor: false
  pantry:
    api_key: 
    request_timeout: 10
    url: 
  sqs:
    queue_name: pantry_example_com-jenkins_slave_delete_command_handler
  sns:
    topic_arn: arn:aws:sns:eu-west-1:001100110011:pantry_example_com-jenkins_slave_delete_event
    error_arn: arn:aws:sns:eu-west-1:001100110011:pantry_error_logs
